#main-navbar{
    padding: 0 1rem;
    background: #bf6d44;
    #logo{
        font-size: 20px;
        pointer-events: none;
        i{
            margin-right: 2px;
        }
    }
    a{
        @include textprop(16px, $white);
        font-weight: normal;
    }
    a:hover{
        color: lightseagreen;
    }
    img{
        width: 40px;
       border-radius: 50%;
    }
}
.social-link li{
    display: inline-block;
    width: 37px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 4px;
    @include textprop(20px, $white);
}

.social-link li:nth-child(1){
    background: #3b5998 ;
    }
    .social-link li:nth-child(2){ 
        background: #00aced ;
    }
    .social-link li:nth-child(3){
        background: #bb0000   ;
    }
    .social-link li:nth-child(4){
        background: #007bb6 ;
    }
    .social-link li:nth-child(5){ 
        background: #cb2027 ;
    }
    